<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ProcessTickets</display-name>
    <servlet-name>ProcessTickets</servlet-name>
    <servlet-class>servlets.ProcessTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTickets</servlet-name>
    <url-pattern>/ProcessTickets</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>servlets.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Reimburse</display-name>
    <servlet-name>Reimburse</servlet-name>
    <servlet-class>servlets.Reimburse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimburse</servlet-name>
    <url-pattern>/Reimburse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmployeeHistoryTickets</display-name>
    <servlet-name>EmployeeHistoryTickets</servlet-name>
    <servlet-class>servlets.EmployeeHistoryTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHistoryTickets</servlet-name>
    <url-pattern>/EmployeeHistoryTickets</url-pattern>
  </servlet-mapping>        
</web-app>